body {
    margin: 0;
    font-family: Karia, sans-serif;
    background-image: url('IMAGES/one1.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.register-container {
    background-color: rgba(255, 0, 0, 0.825);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 500px;
}

.register-container h1 {
    background-color: #ff0000;
    margin: -40px -40px 40px -40px;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    font-size: 36px;
}

.input-group {
    margin-bottom: 25px;
}

.input-group input {
    width: calc(100% - 40px);
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 18px;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    background-color: #232323;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #1f1e1e;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
